    .search-area {
        position: absolute;
        right: 0;
        width: 100%;
    }
    .search-box {
        display: flex;
        width: 100%;
        position: relative;
        height: 38px;
        border: 2px solid #dce0e8;
        border-left: none;
        border-radius: 3px;
        background: #eff1f3;
    }

    .search-box input.search-box-input {
        font-size: 16px;
        flex-grow: 1;
        padding-left: 10px;
        border-left: 2px solid #dce0e8;
        background: #eff1f3;
        border: none;
    }

    .search-box .search-box-button .search-box-btn {
        font-family: Rubik,sans-serif;
        font-size: 16px;
        padding: 0 25px;
        height: 38px;
        margin: -2px -3px -2px 0;
        display: block;
        float: right;
        border-radius: 3px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .theme-black .search-box .search-box-button .search-box-btn {
        color: #fafafa;
        background: #262938;
    }

    .search-box  .search-box-select{
        border: none;
        margin-top: 9px;
        background: #eff1f3;
        color: #626060;
        border-left: 1px solid #e9e9e9;
        max-width: 100px;
    }

    .custom-select-black {
        background: transparent url(../images/arrow-black.png) no-repeat right 8px center;
    }

    .form-group select {
        height: 30px;
        width: 100%;
        padding-left: 15px;
        border: none;
    }

    @media screen and (max-width: 767px) {
        .custom-select-black {
            width: 20px;
            margin-top: 7px;
        }
    }


    /*ebook sidebar*/
    .filter-section .filter-category {
        margin: 0;
        padding: 6px 15px;
    }

    .filter-section .filter-category li {
        display: block;
        padding: 0;
    }

    .filter-section .filter-category>li>a {
        padding: 5px 0;
        border-bottom: thin solid gainsboro;
        text-align: left;
    }

    .filter-section .filter-category a {
        display: block;
        transition: .2s ease-in-out;
    }


    @media (max-width: 1024px) {
        .category-sidepane {
            display: none
        }
    }

    .breadcrumb > .active {
        color: #ccc;
    }